.image {
    height: auto;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    text-align: center;
    color: wheat;
    background-color: black;
    font: "Times New Roman", "Georgia", sans-serif;
}

ul {
    list-style: none;
}

a:unvisited {
    color: wheat;
}

a:visited {
    color: orangered;
}